.photo-card__description {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 22px 21px 19px 15px;
  border-radius: 0 0 10px 10px;
}
