.page {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(282px, 880px);
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  justify-content: center;
  position: relative;
}

