.profile__subtitle-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  max-width: 300px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
.profile__subtitle-description {
  max-width: 200px;
  font-size: 14px;
  line-height: 17px;
}
}

@media screen and (max-width: 780px) {
  .profile__subtitle-description {
    text-align: center;
  }
  }
