.page__footer {
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .page__header {
    padding-left: 19px;
    padding-right: 19px;
  }
}
