.button-add {
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opasity .4s ease-in-out ;
}

.button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 780px) {
  .button-add {
    width: 130px;
  }
}

@media screen and (max-width: 600px) {
  .button-add {
    width: 100%;
    background-size: 16px 16px;
  }
}
