.profile {
  width: 100%;
  justify-self: flex-start;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-items: center;
  justify-items: end;
}

@media screen and (max-width: 600px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}