.button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url(../../images/del-buttom.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opasity .4s ease-in-out ;
}

.button-delete:hover {
  opacity: 0.5;
}
